<!-- تست کتابخانه -->
<div dir="rtl" class="content">
  <div class="item">
    <h4>text-type-input:</h4>
<app-text-type-input [formItem]="form" [formName]="'textTypeTest'" [lable]="'تست تکست تایپ'"></app-text-type-input>
</div>
  <div class="item">
    <h4>number-input:</h4>
<app-number-input [formItem]="form" [formName]="'numberTest'" [lable]="'تست نامبر اینپوت'"></app-number-input>
</div>
<div class="item">
  <h4>nationalcode-input:</h4>
<app-nationalcode-input [formItem]="form" [formName]="'nationalcodeTest'" [lable]="'تست کدملی'"></app-nationalcode-input>
</div>
<div class="item">
  <h4>password-input:</h4>
<app-password-input [formItem]="form" [formName]="'passwordTest'" [lable]="'تست کلمه عبور'"></app-password-input>
</div>
<div class="item">
  <h4>mobile-input:</h4>
<app-mobile-input [formItem]="form" [formName]="'mobileTest'" [lable]="'تست شماره موبایل'"></app-mobile-input>
</div>
<div class="item">
  <h4>email-input:</h4>
<app-email-input [formItem]="form" [formName]="'emailTest'" [lable]="'تست ایمیل '"></app-email-input>
</div>
<div class="item">
  <h4>bankcard-input:</h4>
<app-bank-card-number-input [formItem]="form" [formName]="'bankCardTest'" [lable]="'تست شماره کارت بانکی '"></app-bank-card-number-input>
</div>
</div>